<!-- Header-->
<app-header></app-header>

<div class="container px-4 px-lg-5 mt-5 main">
    <div>
        <h2>Login</h2>
    </div>

    <div class="mx-auto">
        <div class="login-form">
          <label for="emailOrPhone" class="form-label">Email\Phone</label>
          <input type="email" class="form-control input" id="emailOrPhone">
        </div>

        <div class="login-form mt-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
            <div class="input-group input">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                <button class="input-group-text " id="basic-addon1">
                    <i class="fa-solid fa-eye-slash"></i>
                </button>
            </div>
        </div>

        <div class="login-form mt-3">
          <label for="exampleInputPassword1" class="form-label">RePassword</label>
            <div class="input-group input">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                <button class="input-group-text " id="basic-addon1">
                    <i class="fa-solid fa-eye-slash"></i>
                </button>
            </div>
        </div>

        <div class="login-form">
          <label for="fullname" class="form-label">Full name</label>
          <input type="text" class="form-control input" id="fullname">
        </div>

        <div class="login-form">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control input" id="address">
        </div>

        <div class="mb-3 form-check mt-3">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">I have read and agree to the terms and conditions</label>
        </div>


        <div>
          <button class="btn btn-success mt-3 input"> Signup</button>
        </div>

        <div class="divider"></div>
        <div class="">
            <h6>Already have account? <a href="#">Login</a></h6>
        </div>
    </div>

    <div>
      
    </div>
</div>        

<app-footer></app-footer>
