<!-- Header-->
<app-header></app-header>

<div class="bg-dark container-fluid">
    <div class="py-5 ">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 px-lg-5 mt-5">
    
    

    <div class="search-box">
        <div class="search-input">
            <form class="container-fluid">
                <div class="input-group ">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon1">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
            </form>
        </div>
        <div class="category-cbb">
            <select class="form-select" aria-label="Default select example">
                <option selected disabled>Categories</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>


    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="product-image" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="">
                        <!-- Product name-->
                        <h5 class="fw-bolder product-name">Fancy Product</h5>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                        <p class="product-warranty">Warranty 12 months</p>
                        <!-- Product price-->
                        <p class="product-price">Price: <del>$200.0</del>  $80.0</p>

                        <div class="col mt-2">
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
                    <div class="col-6">
                        <a class="btn btn-outline-primary mt-auto " href="#">To Cart
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                        
                    </div>
                    <div class="col-6">
                        <a class="btn btn-outline-success mt-auto" href="#">Buy
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="product-image" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="">
                        <!-- Product name-->
                        <h5 class="fw-bolder product-name">Fancy Product</h5>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                        <p class="product-warranty">Warranty 12 months</p>
                        <!-- Product price-->
                        <p class="product-price">Price: <del>$200.0</del>  $80.0</p>

                        <div class="col mt-2">
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
                    <div class="col-6">
                        <a class="btn btn-outline-primary mt-auto " href="#">To Cart
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                        
                    </div>
                    <div class="col-6">
                        <a class="btn btn-outline-success mt-auto" href="#">Buy
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="product-image" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="">
                        <!-- Product name-->
                        <h5 class="fw-bolder product-name">Fancy Product</h5>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                        <p class="product-warranty">Warranty 12 months</p>
                        <!-- Product price-->
                        <p class="product-price">Price: <del>$200.0</del>  $80.0</p>

                        <div class="col mt-2">
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
                    <div class="col-6">
                        <a class="btn btn-outline-primary mt-auto " href="#">To Cart
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                        
                    </div>
                    <div class="col-6">
                        <a class="btn btn-outline-success mt-auto" href="#">Buy
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="product-image" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="">
                        <!-- Product name-->
                        <h5 class="fw-bolder product-name">Fancy Product</h5>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                        <p class="product-warranty">Warranty 12 months</p>
                        <!-- Product price-->
                        <p class="product-price">Price: <del>$200.0</del>  $80.0</p>

                        <div class="col mt-2">
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
                    <div class="col-6">
                        <a class="btn btn-outline-primary mt-auto " href="#">To Cart
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                        
                    </div>
                    <div class="col-6">
                        <a class="btn btn-outline-success mt-auto" href="#">Buy
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="product-image" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="">
                        <!-- Product name-->
                        <h5 class="fw-bolder product-name">Fancy Product</h5>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                        <p class="product-warranty">Warranty 12 months</p>
                        <!-- Product price-->
                        <p class="product-price">Price: <del>$200.0</del>  $80.0</p>

                        <div class="col mt-2">
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
                    <div class="col-6">
                        <a class="btn btn-outline-primary mt-auto " href="#">To Cart
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                        
                    </div>
                    <div class="col-6">
                        <a class="btn btn-outline-success mt-auto" href="#">Buy
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="product-image" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="">
                        <!-- Product name-->
                        <h5 class="fw-bolder product-name">Fancy Product</h5>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                        <p class="product-warranty">Warranty 12 months</p>
                        <!-- Product price-->
                        <p class="product-price">Price: <del>$200.0</del>  $80.0</p>

                        <div class="col mt-2">
                            <div class="product-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent row">
                    <div class="col-6">
                        <a class="btn btn-outline-primary mt-auto " href="#">To Cart
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                        
                    </div>
                    <div class="col-6">
                        <a class="btn btn-outline-success mt-auto" href="#">Buy
                            <i class="fa-solid fa-cart-plus"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
   
    </div>

</div>        

<app-footer></app-footer>